

/*
 * Layouts
 */
/* Overall container for the page */
.l-page {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    "padding-left body padding-right"
    "padding-left form padding-right"
    "footer footer footer";
  height: 100%;
}

.l-header {
  grid-area: header;
}

.l-body {
  grid-area: body;
}

.l-form {
  grid-area: form;
  margin-top: 70px;
}

.l-footer {
  grid-area: footer;
}

/*
 * Misc/modules
 */


.email-return {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.email-textarea {
  min-width: 40%;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boldred {
  color: red;
}


