/*
 * Layouts
 */
/* Overall container for the page */
.l-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas:
    "header header header"
    "padding-left body padding-right"
    "footer footer footer";
  row-gap: 40px;
  height: 100%;
}

.l-header {
  grid-area: header;
}
.l-body {
  grid-area: body;
}
.l-footer {
  grid-area: footer;
}


/*
 * Misc/modules
 */

.intro-text {
  grid-area: intro;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}
.intro-image {
  grid-area: body-left;
}
.intro-text {
  greid-area: body-right;
  margin-left: 30px;
}

/* global.css? */
.rounded-img {
  border-radius: 100%;
  width: 120px;
  height: auto;
}

.icon-container {
  display: flex;
  justify-content: center;
  column-gap: 2%;
}
.icon-32x32 {
  height: 32px;
  width: 32px;
  display: inline-block
}
.icon-32x32 img {
  height: 100%;
  width: 100%;
}

