
/*
 * Layouts
 */
/* Overall container for the page */
.l-page {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "header header header"
    "padding-left intro padding-right"
    "padding-left experience padding-right"
    "padding-left skills padding-right"
    "footer footer footer";
  height: 100%;
}

.l-header {
  grid-area: header;
}

.l-intro {
  grid-area: intro;
}
.l-intro > img {
  max-height: 50%;
  max-width: 50%;
}

.l-experience {
  grid-area: experience;
  margin-top: 40px;
  padding-bottom: 80px;
  /*background-color: #e0ebeb;*/
  background-color: rgba(224, 235, 235, .5);
}
.l-experience > h2 {
  text-align: center;
  padding: 10px;
}

.l-skills {
  grid-area: skills;
  margin-top: 40px;

  /* Can remove this once there is something else below l-skills */
  margin-bottom: 140px;
}
.l-skills > h2 {
  text-align: center;
}

.l-footer {
  grid-area: footer;
}


/* Row divs that are centered should use this class */
.l-centered-row {
  min-width: 350px;
  padding: 2px 8px;
}


/*
 * Misc/modules
 */

.img-container {
  width: 80%;
  margin: auto;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
}

.experience {
  text-align: center;
  padding-bottom: 60px;
}
.experience-location {
  margin-bottom: 7vh;
}
.experience-info {
  text-align: left;
  margin-bottom: 10vh;
}


/* A header div/bar introducing the section */
.skills-header {
  margin-top: 40px;
  margin-bottom: 10px;
}
.skills-header > div {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}
.skills-header img {
  width: 180px;
  height: auto;
  margin: 11px;
  margin-left: auto;
}
/* An individual skills "box" */
.skill-container {
  min-width: 50px;
  max-width: 85%;
  min-height: 50px;
  padding: 10px 20px;
  text-align: center;

}
.skill-container h4 {
  margin-bottom: 12px;
}
.skill-container p:first-of-type {
  margin-top: 7px;
}

.star-image {
  width: 50%;
}



@media (min-width: 1150px) {
  .l-intro {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    column-gap: 5vh;
  }
  .experience {
    display: grid;
    grid-template-columns: 425px auto;
    row-gap: 30px;
    column-gap: 20px;
  }

  /* Grid container for a bunch of skills */
  .skills {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;

    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

}

