
/*
 * Layouts
 */
/* Overall container for the page */
.l-page {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    "padding-left intro padding-right"
    "padding-left experience padding-right"
    "padding-left skills padding-right"
    "footer footer footer";
  height: 100%;
}

.l-header {
  grid-area: header;
}

.l-intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}
/*
.l-intro > img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: 100px;
  width: 100%;
}
*/
.l-intro-text {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: 30px;
}

.l-experience {
  grid-area: experience;
  margin-top: 40px;
  padding-bottom: 80px;
  /*background-color: #e0ebeb;*/
  background-color: rgba(224, 235, 235, .5);
}
.l-experience > h2 {
  text-align: center;
  padding: 10px;
}

.l-skills {
  grid-area: skills;
  margin-top: 40px;

  /* Can remove this once there is something else below l-skills */
  margin-bottom: 140px;
}
.l-skills > h2 {
  text-align: center;
}

.l-footer {
  grid-area: footer;
}


/* Row divs that are centered should use this class */
.l-centered-row {
  min-width: 350px;
  padding: 2px 8px;
}


/*
 * Misc/modules
 */

.intro {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
}
.intro > img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.intro-text {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: 30px;
}

.img-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 80%;
  margin: auto;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
}

.img-circle {

}
.img-circle img {

}

.experience {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "row1-left row1-right"
    "row2-left row2-right"
    "row3-left row3-right";
  row-gap: 30px;
  column-gap: 20px;
  text-align: center;
  padding-bottom: 60px;
}
.experience-sporian-left {
  grid-area: row1-left;
  min-width: 450px;
}
.experience-sporian-right {
  grid-area: row1-right;
  text-align: left;
}
.experience-rit-left {
  grid-area: row2-left;
}
.experience-rit-right {
  grid-area: row2-right;
  text-align: left;
}
.experience-id-left {
  grid-area: row3-left;
}
.experience-id-right {
  grid-area: row3-right;
  text-align: left;
}


/* A header div/bar introducing the section */
.skills-header {
  margin-top: 40px;
  margin-bottom: 10px;
}
.skills-header > div {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}
.skills-header img {
  width: 180px;
  height: auto;
  margin: 11px;
  margin-left: auto;
}
/* Grid container for a bunch of skills */
.skills {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
  column-gap: 20px;
}
/* An individual skills "box" */
.skill-container {
  min-width: 50px;
  max-width: 85%;
  min-height: 50px;
  padding: 10px 20px;
  text-align: center;

}
.skill-container h4 {
  margin-bottom: 10px;
}
.skill-container p:first-of-type {
  margin-top: 7px;
}

.star-image {
  width: 50%;
}

